html {
  height: 100%;
  width: 100%;
  font-family: "MS Gothic";
  background: #000077;
  color: white;
}
h1, h2 {
  text-align: center;
  text-shadow: 3px 3px 3px #ffffffaa;
}
.bc {
  margin: auto;
  width: 80%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 6px; 
  margin-top: 15px;
  margin-bottom: 15px;
  background: #00000077;
  animation: lightglow 5s infinite;
  animation-timing-function: linear;
}
a:visited {
  color: cyan; /* purple on black 😋😋😋 */
}
a:active {
  color: red;
}
hr {
  border: 1px solid white;
}

@keyframes lightglow {
  0% {box-shadow: 0px 0px 15px #ffffff;}
  50% {box-shadow: 0px 0px 20px #ffffff;}
  100% {box-shadow: 0px 0px 15px #ffffff;}
}
@keyframes scroll16pxbg {
  0% {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  100% {
    background-position-x: 16px;
    background-position-y: 16px;
  }
}
table,th , td{
  border: 2px solid white;
}
table{
  width: 100%;
}
td{
  padding: 5px;
  width: 33px;
}
tr:nth-child(even){
  background-color: #000396;
}
tr:nth-child(odd){
  background-color: #000132;
}
th {
  padding: 10px;
}